.citations {
    margin: 20px 0;
    padding: 15px;
    background-color: #f9f9f9;
    border-left: 4px solid #7f8c8d;
}

.citation {
    font-style: italic;
    color: #34495e;
    margin-bottom: 10px;
}

.auteur {
    font-weight: bold;
    display: block;
}

.emoji {
    font-size: 1.5em;
}

.separateur {
    font-family: 'Courier New', monospace; /* Police de caractère à chasse fixe */
    color: #34495e;
    text-align: center;
    margin: 20px 0;
    letter-spacing: 2px; /* Espacement entre les caractères */
    font-size: 1.2em;
}
