/* Empty css file that users can override in their own /static/css/custom.css file */
.citations {
    margin: 20px 0;
    padding: 15px;
    border-left: 4px solid #7f8c8d;
}

.citation {
    font-style: italic;
    color: #dfe4ea;
    margin-bottom: 10px;
}

.auteur {
    font-weight: bold;
    display: block; /* pour mettre le nom de l'auteur à la ligne */
}

.emoji {
    font-size: 1.5em;
}

.sidebar-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-nav li {
    margin: 10px 0;
}

.sidebar-nav li a {
    color: #dadfe5;
    text-decoration: none;
    font-weight: bold;
}

.sidebar-nav li a:hover {
    text-decoration: underline;
}

.rounded-image {
    border-radius: 50%; /* Ceci rend l'image ronde */
    width: 100px; /* Ajuste la largeur selon tes besoins */
    height: 100px; /* Ajuste la hauteur pour correspondre à la largeur et garder l'image circulaire */
    object-fit: cover; /* Cela s'assure que l'image couvre entièrement la zone sans être déformée */
}
